body {
  background-color: #151320;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 200px;
  aspect-ratio: 16/9;
  animation: move 7s linear infinite;
  transform-origin: center;
}  

.logo img {
  height: 100%;    
  width: 100%;
  object-fit: contain;
}

@keyframes move {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
